body {
    background-color: rgb(241, 245, 255);
}

h1 {
    font-size: 40px;
    color: navy;
}

h3 {
    font-size: 30px;
    color: navy;
}

.caption {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: navy;
}

.navbar-brand {
    background-color: navy;
}

.navbar-light .navbar-brand {
    color: azure;
}

